{% extends 'base.html' %}

{% block content %}
<div class="container">
	{% if dish_list %}
	<div class="row">
		<div class="col align-self-center">
		    <h1>
		    	Dish List
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
		    <table class="table table-striped">
		        <tr>
		        	<th>Id</th>
		        	<th>Main</th>
		        	<th>Side Orders</th>
		        	<th></th>
		        	<th></th>
		        </tr>
		        {% for dish in dish_list %}
		            <tr>
		            	<td>{{ dish.pk }}</td>
		                <td>{{ dish.main }}</td>
		                <td>{{ dish.side_order }}</td>
		                <td><a href="{% url 'lunchs:edit_dish' dish.pk %}">edit</a></td>
		                <td>
		                    <form method="POST" action="{% url 'lunchs:delete_dish' dish.pk %}">
		                        {% csrf_token %}
		                        <input type="submit" class="btn btn-sm btn-danger" value="delete"></input>
		                    </form>
		                </td>
		            </tr>
		        {% endfor %}
		    </table>
		</div>
	</div>
	{% endif %}
	<div class="row justify-content-end">
	    <div class="col-4">
	      <a href="{% url 'lunchs:create_dish' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
	      Create a new dish
	      </a>
	    </div>
	</div>

</div>
{% endblock content %}